<div class="row">
<h3 class="header">Login</h3>
<div style="color:red" [innerHTML]="message"></div>
  <form method="post" [formGroup]="myForm" (ngSubmit)="onSubmit()" class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="email" type="email" class="validate" formControlName="email" >
        <label for="email">Email</label>
      </div>
    </div>      
    <div class="row">
      <div class="input-field col s6">
        <input id="password" type="password" formControlName="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <form action="#">
      <div class="input-field col s3">
        <p>
          <label>
          <input name="group1" value="nurse" type="radio" id="test1"  checked />
          <span>Nurse</span>
        </label>
        </p>
      </div>
        <div class="input-field col s3">
          <p>
            <label>
            <input name="group1" value="patient" type="radio" id="test2"/>
            <span>Patient</span>
          </label>
          </p>
        </div>
        </form>
    </div>
    <div class="row">
      <div class="input-field col s6">
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
      </div>
    </div>
  </form>
</div>
